<div class="form-group">
    <div class="label-content">
        <label>Image Gallery:</label>
        <sf-list-selector sf-library-selector sf-multiselect="false" sf-sortable="true"
                          sf-selected-item-id="properties.ImageGalleryId.PropertyValue"
                          sf-media-type="images">
        </sf-list-selector>
    </div>
</div>